<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
</head>
{% extends 'index.html' %}
{% block body %}
    <form class="backButton" action="/">
        <button><i class="fa-solid fa-chevron-left"></i></button>
    </form>
    <ul>
        {% for team in allTeams %}
        <li><a href="{{url_for('view.getViewTeam', teamID=team[0])}}">{{team[1]}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
</html>