<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipes</title>
</head>
{% extends 'index.html' %}
{% block body %}
    <div class="backButton">
        <form action="/">
            <button> <img src="/static/img/icons8-left-24.png" alt="go-back"> </button>
        </form>
    </div>
    <ul>
        {% for team in allTeams %}
        <li><a href="{{url_for('view.getViewTeam', teamID=team[0])}}">{{team[1]}}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
</html>