.button{
    background-color: #e0000000;
    font-size: 14px;
    letter-spacing: 0.03em;
    border: 2px solid #E00000;
    border-radius: 5px;
    margin: 1px 0px 5px 40px;
    color: #fff;
}

.plusButton{
    background-color: #e0000000;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: auto;
    border: 2px solid #E00000;
    border-radius: 5px;
    color: #fff;
    padding: 2px;
    margin-top: 20px;
}

.fa{
    padding: 1px 10px 1px 10px;
}

.buttonsIndex{
    text-align: center;
    padding: 50px 0 50px 0;
}
.buttonsIndex a img{
    height: 80px;
}

.backButton{
    position: absolute;
    top: 28vh;
    left: 25vw;
}
.backButton button{
    border: 2px solid #E00000;
    border-radius: 5px;
    background-color: rgba(61, 61, 61, 0);
}
.backButton button img{
    width: 20px;
    margin: -2px 0 -5px 0;
}

.infoButton{
    margin-bottom: -8px;
}
